---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app dozzle
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      dozzle:
        containers:
          app:
            image:
              repository: ghcr.io/amir20/dozzle
              tag: v8.14.9@sha256:82773cc7e7443de8ba7f23bd175a80d79c9e4d4ff1c0a5f8701e04e6c5e383bc
            env:
              TZ: ${CLUSTER_TIMEZONE}
              DOZZLE_MODE: k8s
              DOZZLE_ENABLE_SHELL: true
              DOZZLE_ENABLE_ACTIONS: true
              DOZZLE_NO_ANALYTICS: true
              DOZZLE_HOSTNAME: "${GATUS_SUBDOMAIN:=${APP}}.${DOMAIN}"
              #DOZZLE_AUTH_PROVIDER: forward-proxy
              #DOZZLE_AUTH_HEADER_USER: x-authentik-username
              #DOZZLE_AUTH_HEADER_EMAIL: x-authentik-email
              #DOZZLE_AUTH_HEADER_NAME: x-authentik-name
              #DOZZLE_LEVEL: debug
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  exec:
                    command:
                      - /dozzle
                      - healthcheck
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 128Mi
        serviceAccount:
          identifier: dozzle
    serviceAccount:
      dozzle: {}
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: dozzle
        ports:
          http:
            port: 8080
    route:
      app:
        hostnames:
          - "${GATUS_SUBDOMAIN:=${APP}}.${DOMAIN}"
        parentRefs:
          - name: internal
            namespace: network
            sectionName: https
    rbac:
      roles:
        dozzle:
          type: ClusterRole
          rules:
          - apiGroups: [""]
            resources: ["pods", "pods/log", "nodes", "nodes/proxy", "pods/exec"]
            verbs: ["get", "list", "watch" ,"create"]
          - apiGroups: ["metrics.k8s.io"]
            resources: ["pods"]
            verbs: ["get", "list"]

      bindings:
        dozzle:
          type: ClusterRoleBinding
          roleRef:
            identifier: dozzle
          subjects:
            - identifier: dozzle
