---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app kube-vip-svc
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      kube-vip-svc:
        serviceAccount:
          name: kube-vip
        type: daemonset
        containers:
          kube-vip-svc:
            image:
              repository: ghcr.io/kube-vip/kube-vip
              tag: v1.0.2@sha256:ee3702abc2daeb93399c22b14aa61aa233013f2a610e64ff3864033ebb3fedbc
              pullPolicy: IfNotPresent
            command:
              - /kube-vip
              - manager
            args:
              - --services        # watch LB Services :contentReference[oaicite:0]{index=0}
              - --arp             # use ARP for VIP ownership
              - --leaderElection  # ensure single-node leadership
              - --enableLoadBalancer  # enable IPVS LB mode
            env:
              vip_arp: 'true'
              vip_leaderelection: 'true'
              vip_nodename:
                valueFrom:
                  fieldRef:
                    fieldPath: spec.nodeName

              #lb_enable: 'true'
              #port: '6443'
              #vip_cidr: '32'
              #cp_enable: 'true'
              #cp_namespace: kube-system
              #vip_ddns: 'false'
              #svc_enable: 'false'
              #
              #vip_leaseduration: '15'
              #vip_renewdeadline: '10'
              #vip_retryperiod: '2'
              #prometheus_server: :2112

            securityContext:
              capabilities:
                add:
                  - NET_ADMIN
                  - NET_RAW
                  - SYS_TIME

            #probes:
            #  startup:
            #    enabled: true
            #    spec:
            #      failureThreshold: 30
            #      periodSeconds: 5
            #  liveness:
            #    enabled: true
            #  readiness:
            #    enabled: true
    defaultPodOptions:
      hostNetwork: true
      hostPID: true
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: node-role.kubernetes.io/master
                    operator: DoesNotExist
              - matchExpressions:
                  - key: node-role.kubernetes.io/control-plane
                    operator: DoesNotExist



