---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1beta2.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: obico
spec:
  interval: 5m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 0.6.0
  url: oci://ghcr.io/gabe565/charts/obico
---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app obico
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: obico
  install:
    crds: CreateReplace
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    server:
      image:
        repository: ghcr.io/gabe565/obico/web
        tag: latest@sha256:6038d671aace67f7dbe578b9408f94cf3ca2850b7677341e1d20a8a41f7d5281
      # -- Server environment variables. [[ref]](https://github.com/TheSpaghettiDetective/obico-server/blob/master/dotenv.example)
      env:
        TZ: ${CLUSTER_TIMEZONE}
        DEFAULT_FROM_EMAIL: "${SECRET_SMTP_FROM_FULL}"
        EMAIL_HOST: smtp-relay.default.svc.cluster.local
        EMAIL_PORT: "25"
        EMAIL_USE_TLS: 'False'
        SITE_USES_HTTPS: 'True'
        SITE_IS_PUBLIC: 'True'
      envFrom:
        - secretRef:
            name: *app
      persistence:
        data:
          enabled: true
          existingClaim: obico-data
        media:
          enabled: true
          existingClaim: obico-media
      # todo: ingress/tls migration to route
    ml-api:
      image:
        repository: ghcr.io/gabe565/obico/ml-api
        tag: latest@sha256:d2190504b192ac4cbc3150dacbcd2e40e600e2aa0cf7931204045b70bb68efa6
      env:
        DEBUG: "False"
    # -- Enable and configure redis subchart under this key. [[ref]](https://github.com/bitnami/charts/tree/main/bitnami/redis)
    # @default -- See [values.yaml](./values.yaml)
    redis:
      enabled: true
      auth:
        enabled: true
      master:
        persistence:
          enabled: false
      replica:
        replicaCount: 0
