---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app teslamate
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      teslamate:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/sstr-dev/postgres-init
              tag: 17.6@sha256:92ee930b84945373845093eab96de722b400afa1a6267c87847512b1d74b3f94
              pullPolicy: IfNotPresent
            envFrom:
              - secretRef:
                  name: *app
        containers:
          app:
            image:
              repository: teslamate/teslamate
              tag: 2.2.0
            env:
              TZ: ${CLUSTER_TIMEZONE}
            envFrom:
              - secretRef:
                  name: *app
            resources:
              requests:
                memory: 250Mi
                cpu: 50m
              limits:
                memory: 500Mi

    service:
      app:
        ports:
          http:
            port: &port 4000

    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_MAIN_DOMAIN_NAME}"
        parentRefs:
          - name: main
            namespace: network
            sectionName: https

