---
# yaml-language-server: $schema=https://raw.githubusercontent.com/envoyproxy/gateway/refs/heads/main/charts/gateway-helm/crds/generated/gateway.envoyproxy.io_clienttrafficpolicies.yaml
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: ClientTrafficPolicy
metadata:
  name: client
spec:
  targetRefs:
    - &target
      group: gateway.networking.k8s.io
      kind: Gateway
      name: internal
    - <<: *target
      name: main
    - <<: *target
      name: base
    - <<: *target
      name: dev
  http2:
    initialStreamWindowSize: 512Ki
    initialConnectionWindowSize: 8Mi
    onInvalidMessage: TerminateStream
  http3: {}
  clientIPDetection:
    xForwardedFor:
      numTrustedHops: 1
  tls:
    minVersion: '1.2'
    alpnProtocols:
      - h2
      - http/1.1

