---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app pve-exporter
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      *app :
        replicas: 1
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          *app :
            image:
              repository: ghcr.io/prometheus-pve/prometheus-pve-exporter
              tag: 3.6.0
            env:
              PYTHONWARNINGS: once
            resources:
              requests:
                cpu: 10m
                memory: 40Mi
              limits:
                memory: 80Mi

    persistence:
      pve-config:
        type: secret
        name: pve-exporter
        globalMounts:
          - path: /etc/prometheus/pve.yml
            subPath: pve.yml

    service:
      *app :
        controller: *app
        ports:
          http:
            port: 9221


    serviceMonitor:
      *app :
        enabled: true
        endpoints:
          - path: /pve
            params:
              cluster:
                - "1"
              module:
                - default
              node:
                - "1"
              target:
                - casa-pve01.lokis-casa.internal
            port: http
            scheme: http
            relabelings:
              - sourceLabels: [__param_target]
                targetLabel: instance
        serviceName: pve-exporter
      ext:
        enabled: true
        endpoints:
          - path: /pve
            params:
              cluster:
                - "1"
              module:
                - ext
              node:
                - "1"
              target:
                - ext-pve01.lokis-casa.internal
            port: http
            scheme: http
            relabelings:
              - sourceLabels: [__param_target]
                targetLabel: instance
        serviceName: pve-exporter

