---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/cilium.io/ciliumloadbalancerippool_v2.json
apiVersion: cilium.io/v2
kind: CiliumLoadBalancerIPPool
metadata:
  name: pool
spec:
  allowFirstLastIPs: "Yes"
  blocks:
    - start: 10.0.69.50
      stop: 10.0.69.99
    #- cidr: 192.168.21.0/24
    #- cidr: fdd5:aa8:9535:21::/64
    #- cidr: 192.168.20.16/32
  serviceSelector:
    matchLabels:
      io.cilium.service/method: l2
---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/cilium.io/ciliuml2announcementpolicy_v2alpha1.json
apiVersion: cilium.io/v2alpha1
kind: CiliumL2AnnouncementPolicy
metadata:
  name: l2-policy
spec:
  loadBalancerIPs: true
  interfaces:
    - lbnet
  # NOTE: interfaces might need to be set if you have more than one active NIC on your hosts
  # interfaces:
  #   - ^eno[0-9]+
  #   - ^enp[0-9]+
  #   - ^eth[0-9]+
  serviceSelector:
    matchLabels:
      io.cilium.service/method: l2
  nodeSelector:
    matchLabels:
      kubernetes.io/os: linux
---
apiVersion: cilium.io/v2
kind: CiliumLoadBalancerIPPool
metadata:
  name: pool-bgp
spec:
  allowFirstLastIPs: "Yes"
  blocks:
    - start: 10.0.60.200
      stop: 10.0.60.250
  serviceSelector:
    matchLabels:
      io.cilium.service/method: bgp
---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/cilium.io/ciliumbgpadvertisement_v2.json
apiVersion: cilium.io/v2
kind: CiliumBGPAdvertisement
metadata:
  name: l3-bgp-advertisement
  labels:
    advertise: bgp
spec:
  advertisements:
    - advertisementType: Service
      service:
        addresses:
          - LoadBalancerIP
      selector:
        matchExpressions:
          - {key: somekey, operator: NotIn, values: ["never-used-value"]}
---
apiVersion: cilium.io/v2
kind: CiliumBGPPeerConfig
metadata:
  name: l3-bgp-peer-config
spec:
  families:
    - afi: ipv4
      safi: unicast
      advertisements:
        matchLabels:
          advertise: bgp
---
apiVersion: cilium.io/v2
kind: CiliumBGPClusterConfig
metadata:
  name: l3-bgp-cluster-config
spec:
  nodeSelector:
    matchLabels:
      kubernetes.io/os: linux
  bgpInstances:
    - name: cilium
      localASN: 65001
      peers:
        - name: unifi
          peerASN: 65000
          peerAddress: 10.0.60.1
          peerConfigRef:
            name: l3-bgp-peer-config
---
apiVersion: v1
kind: Service
metadata:
  name: kube-api
  labels:
    io.cilium.service/method: bgp
  annotations:
    lbipam.cilium.io/ips: 10.0.60.200
spec:
  type: LoadBalancer
  externalTrafficPolicy: Local
  selector:
    k8s-app: kube-apiserver
    tier: control-plane
  ports:
    - port: 6443
