---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: n8n
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: vault-backend
  target:
    name: n8n
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # App
        N8N_ENCRYPTION_KEY: "{{ .encryption_key }}"
        DB_TYPE: postgresdb
        DB_POSTGRESDB_DATABASE: &dbName n8n
        DB_POSTGRESDB_HOST: &dbHost "postgres-cluster-rw.database.svc.cluster.local"
        DB_POSTGRESDB_USER: &dbUser n8n
        DB_POSTGRESDB_PASSWORD: &dbPass "{{ .sql_n8n }}"
        DB_POSTGRESDB_PORT: "5432"

        # Postgres Init
        INIT_POSTGRES_DBNAME: *dbName
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: *dbUser
        INIT_POSTGRES_PASS: *dbPass
        INIT_POSTGRES_USER_FLAGS: "-s"
        INIT_POSTGRES_SUPER_USER: "{{ .POSTGRES_SUPER_USER }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"

  dataFrom:
    - extract:
        key: ${CLUSTER}/n8n
    - extract:
        key: ${CLUSTER}/cloudnative-pg
    - extract:
        key: ${CLUSTER}/pg-users
      rewrite:
        - regexp:
            source: "(.*)"
            target: "sql_$1"
