---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name:  &app external-dns-adguard-home
spec:
  interval: 1h
  chart:
    spec:
      chart: external-dns
      version: 1.19.0
      sourceRef:
        kind: HelmRepository
        name: external-dns
        namespace: network
  install:
    disableSchemaValidation: true
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    disableSchemaValidation: true
    remediation:
      retries: 3
  values:
    fullnameOverride: *app
    provider:
      name: webhook
      webhook:
        image:
          repository: ghcr.io/muhlba91/external-dns-provider-adguard
          tag: v11.0.0@sha256:7bc1d6b3d4590f8fbb6f8452d98aecb47b4ea0a19c09ce44a6f2f0a4c2b162d4
        env:
          - name: &name ADGUARD_URL
            valueFrom:
              secretKeyRef:
                name: *app
                key: *name
          - name: &name ADGUARD_USER
            valueFrom:
              secretKeyRef:
                name: *app
                key: *name
          - name: &name ADGUARD_PASSWORD
            valueFrom:
              secretKeyRef:
                name: *app
                key: *name
          - name: SERVER_HOST
            value: 0.0.0.0
          - name: DRY_RUN
            value: "true"
        securityContext:
          readOnlyRootFilesystem: true
        livenessProbe:
          httpGet:
            path: /healthz
            port: http-webhook
          initialDelaySeconds: 10
          timeoutSeconds: 5
        readinessProbe:
          httpGet:
            path: /healthz
            port: http-webhook
          initialDelaySeconds: 10
          timeoutSeconds: 5
    triggerLoopOnEvent: true
    policy: sync
    #extraArgs:
    #  - --ingress-class=internal
    #  - --ingress-class=home
    #  - --managed-record-types=A
    #  #- --managed-record-types=AAAA
    #  - --managed-record-types=CNAME
    #  #- --managed-record-types=TXT
    #  #- --managed-record-types=SRV
    registry: txt
    sources:
      #- crd
      #- ingress
      - gateway-httproute
      - gateway-tlsroute
      - service

    txtOwnerId: ${CLUSTER}
    txtPrefix: k8s.${CLUSTER}.
    domainFilters:
      - landomain
      - int_ext

    serviceMonitor:
      enabled: true
    podAnnotations:
      secret.reloader.stakater.com/reload: *app
