---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: network
components:
  - ../../../components/common
  - ../../../vars/casa
resources:
  - ../../../vars/casa/ns/network-secrets.sops.yaml
  - ./k8s-gateway.yaml
  - ./envoy-gateway.yaml
  - ./cloudflare-tunnel.yaml
  - ./external-dns.yaml
  - ./echo.yaml
  - ./nginx.yaml
  - ./external-services.yaml
  #- ./multus-networks.yaml
