---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app spoolman
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      spoolman:
        replicas: ${REPLICAS:=1}
        annotations:
          reloader.stakater.com/auto: "true"
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/donkie/spoolman
              tag: 0.23.1
            env:
              TZ: ${CLUSTER_TIMEZONE}
              SPOOLMAN_METRICS_ENABLED: "true"
              SPOOLMAN_PORT: &port 8000
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              requests:
                cpu: 25m
                memory: 256Mi

    service:
      app:
        controller: *app
        ports:
          http:
            port: *port

    serviceMonitor:
      spoolman:
        serviceName: *app
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s
            metricRelabelings:
              - action: labeldrop
                regex: (pod)

    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_MAIN_DOMAIN_NAME}"]
        parentRefs:
          - name: main
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: spoolman.png
          # Gruppierung im Dashboard
          gethomepage.dev/group: "3D Printing"
          # Anzeigename
          gethomepage.dev/name: "SpoolMan"
          # Tooltip / Beschreibung
          gethomepage.dev/description: "Manage your filament spools"
          gethomepage.dev/widget.type: spoolman
          gethomepage.dev/widget.url: http://{{ .Release.Name }}.{{ .Release.Namespace }}:8000
    persistence:
      data:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: *app
        advancedMounts:
          spoolman:
            app:
              - path: /home/app/.local/share/spoolman
