---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name:  &app external-dns-unifi
spec:
  interval: 1h
  chart:
    spec:
      chart: external-dns
      version: 1.20.0
      sourceRef:
        kind: HelmRepository
        name: external-dns
        namespace: network
  install:
    disableSchemaValidation: true
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    disableSchemaValidation: true
    remediation:
      retries: 3
  values:
    fullnameOverride: *app
    provider:
      name: webhook
      webhook:
        image:
          repository: ghcr.io/kashalls/external-dns-unifi-webhook
          tag: v0.8.1@sha256:e9b7bf621768c490110fb154c94a4f610f254c9f0c540140ea429c601a8475dd
        env:
          - name: &name UNIFI_HOST
            valueFrom:
              secretKeyRef:
                name: *app
                key: *name
          - name: &name UNIFI_API_KEY
            valueFrom:
              secretKeyRef:
                name: *app
                key: *name
          - name: SERVER_HOST
            value: 0.0.0.0
          - name: DRY_RUN
            value: "true"
        securityContext:
          readOnlyRootFilesystem: true
        livenessProbe:
          httpGet:
            path: /healthz
            port: http-webhook
          initialDelaySeconds: 10
          timeoutSeconds: 5
        readinessProbe:
          httpGet:
            path: /healthz
            port: http-webhook
          initialDelaySeconds: 10
          timeoutSeconds: 5
    triggerLoopOnEvent: true
    policy: sync
    #extraArgs:
    #  - --ingress-class=internal
    #  - --ingress-class=home
    #  - --managed-record-types=A
    #  #- --managed-record-types=AAAA
    #  - --managed-record-types=CNAME
    #  #- --managed-record-types=TXT
    #  #- --managed-record-types=SRV
    registry: txt
    sources:
      #- crd
      #- ingress
      - gateway-httproute
      - gateway-tlsroute
      - service

    txtOwnerId: ${CLUSTER}
    txtPrefix: k8s.${CLUSTER}.
    domainFilters:
      - landomain
      - int_ext

    serviceMonitor:
      enabled: true
    podAnnotations:
      secret.reloader.stakater.com/reload: *app
