---
machine:
  install:
    disk: /dev/sda
    wipe: true # Indicates if the installation disk should be wiped at installation time.
  type: controlplane
  nodeTaints:
    node-role.kubernetes.io/control-plane: :NoSchedule
  network:
    hostname: cp01.k8s.main.internal
    interfaces:
      - addresses:
          - 10.0.60.201/24
        interface: ens18
        dhcp: false
        mtu: 1500
        vip:
          ip: 10.0.60.200
        routes:
          - gateway: 10.0.60.1
            network: 0.0.0.0/0
        #vlans:
        #  - # Services
        #    dhcp: false
        #    mtu: 1500
        #    vlanId: 69
        #    routes:s
        #      network: 10.0.69.0/16
        #      gateway: 10.0.69.1
        #    addresses:
        #      - 10.0.69.201/16
