---
machine:
  install:
    disk: /dev/sda
    wipe: true # Indicates if the installation disk should be wiped at installation time.
  type: controlplane
  nodeTaints:
    node-role.kubernetes.io/control-plane: :NoSchedule
  network:
    hostname: cp02.k8s.main.internal
    interfaces:
      - addresses:
          - 10.0.60.202/24
        interface: ens18
        dhcp: false
        vip:
          ip: 10.0.60.200
        mtu: 1500
        routes:
          - gateway: 10.0.60.1
            network: 0.0.0.0/0
