---
machine:
  install:
    disk: /dev/sda
    wipe: false # Indicates if the installation disk should be wiped at installation time.
  type: controlplane
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: cp02
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: net0
selector:
  match: mac(link.permanent_addr) == "bc:24:11:1b:de:89"
---
apiVersion: v1alpha1
kind: Layer2VIPConfig
name: 10.0.60.200
link: net0
