---
machine:
  install:
    disk: /dev/sda
    wipe: false # Indicates if the installation disk should be wiped at installation time.
  type: worker
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: wk02
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: net0
selector:
  match: mac(link.permanent_addr) == "bc:24:11:14:d8:2b"
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: lbnet
selector:
  match: mac(link.permanent_addr) == "bc:24:11:7b:0e:e9"
---
apiVersion: v1alpha1
kind: LinkConfig
name: lbnet
up: true
addresses:
  - address: 10.0.69.205/24


