---
machine:
  install:
    disk: /dev/sda
    wipe: false # Indicates if the installation disk should be wiped at installation time.
  type: worker
  nodeLabels:
    network.l2.cilium/lan69: "true"
    node.longhorn.io/create-default-disk: "true"
  network:
    hostname: wk02.k8s.main.internal
    interfaces:
      - addresses:
          - 10.0.60.205/24
        interface: ens18
        dhcp: false
        mtu: 1500
        routes:
          - gateway: 10.0.60.1
            network: 0.0.0.0/0
            metric: 100
      - addresses:
          - 10.0.69.205/24
        interface: ens19
        dhcp: false
        routes:
          - network: 10.0.69.0/24
            metric: 2048
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: extra
provisioning:
  diskSelector:
    match: "!system_disk"
  grow: true
  minSize: 10GB
  maxSize: 300GB
filesystem:
  type: xfs
