---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: media
components:
  - ../../../components/common
  - ../../../vars/casa
resources:
  #- ./jellyfin.yaml
  - ./jellyseerr.yaml
  #- ./calibre-web-automated.yaml

