---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app open-webui
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 15m
  values:
    controllers:
      open-webui:
        annotations:
          reloader.stakater.com/auto: "true"
        labels:
          postgres: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/sstr-dev/postgres-init
              tag: 17.7@sha256:7f4c3051706da3025f97b73c6acc60000e9c1c7a12cbfede5837e2a19d2e96f2
              pullPolicy: IfNotPresent
            envFrom: &envFrom
              - secretRef:
                  name: *app
        containers:
          app:
            image:
              repository: ghcr.io/open-webui/open-webui
              tag: v0.6.36@sha256:dfe43b30a5474164b1a81e1cce298a6769bb22144f74df556beefee4ccca5394
            env:
              # https://docs.openwebui.com/getting-started/env-configuration
              TZ: ${CLUSTER_TIMEZONE}
              # App
              WEBUI_URL: https://chat.${SECRET_DOMAIN}
              CORS_ALLOW_ORIGIN: https://chat.${SECRET_DOMAIN}
              DEFAULT_LOCALE: de
              ENABLE_OPENAI_API: False
              ENABLE_OLLAMA_API: True
              ENABLE_WEB_SEARCH: True
              ENABLE_SEARCH_QUERY_GENERATION: True
              ENABLE_PERSISTENT_CONFIG: True
              WEBUI_SESSION_COOKIE_SAME_SITE: lax
              WEBUI_SESSION_COOKIE_SECURE: True
              # Searx
              WEB_SEARCH_ENGINE: searxng
              SEARXNG_QUERY_URL: http://searxng.llm.svc.cluster.local:8080/search?q=<query>
              # Redis
              ENABLE_WEBSOCKET_SUPPORT: True
              WEBSOCKET_MANAGER: redis
              # Ollama
              OLLAMA_BASE_URL: http://${SECRET_AI1_IP}:11434
              # OIDC
              ENABLE_OAUTH_SIGNUP: True
              OAUTH_MERGE_ACCOUNTS_BY_EMAIL: True
              OAUTH_UPDATE_PICTURE_ON_LOGIN: True
              OAUTH_SCOPES: "openid profile email groups"
              ENABLE_OAUTH_ROLE_MANAGEMENT: "true"
              ENABLE_OAUTH_GROUP_MANAGEMENT: "true"
              ENABLE_OAUTH_GROUP_CREATION: "true"
              OAUTH_ALLOWED_ROLES: "chat-users, homelab-admins"
              OAUTH_ADMIN_ROLES: "homelab-admins"
              OAUTH_ROLES_CLAIM: "groups"
              DEFAULT_USER_ROLE: "user"
              ENABLE_LOGIN_FORM: "false"
              # Image Generation
              #ENABLE_IMAGE_GENERATION: True
              #IMAGE_GENERATION_ENGINE: automatic1111
              #IMAGE_GENERATION_MODEL: dreamshaper_8
              #IMAGE_SIZE: 400x400
              #IMAGE_STEPS: 8
              #AUTOMATIC1111_BASE_URL: http://sdnext:7860/
              #AUTOMATIC1111_CFG_SCALE: 2
              #AUTOMATIC1111_SAMPLER: DPM++ SDE
              #AUTOMATIC1111_SCHEDULER: Karras
            envFrom: *envFrom
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 100Mi
              limits:
                memory: 2000Mi
    service:
      app:
        ports:
          http:
            port: 8080
    route:
      app:
        hostnames: ["chat.${SECRET_DOMAIN}"]
        parentRefs:
          - name: base
            namespace: network
            sectionName: https
    persistence:
      config:
        enabled: true
        existingClaim: *app
        globalMounts:
          - path: /app/backend/data
