---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: radarr
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: vault-backend
  target:
    name: radarr
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        RADARR__AUTH__APIKEY  : "{{ .api_key }}"
        RADARR__POSTGRES__HOST: "{{ .sql_pg17server }}"
        RADARR__POSTGRES__PORT: "5432"
        RADARR__POSTGRES__USER: "radarr"
        RADARR__POSTGRES__PASSWORD: "{{ .sql_radarr }}"
        RADARR__POSTGRES__MAINDB: radarr
  dataFrom:
    - extract:
        key: ${CLUSTER}/radarr
    - extract:
        key: ${CLUSTER}/pg-users
      rewrite:
        - regexp:
            source: "(.*)"
            target: "sql_$1"
