---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app opencloud
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      opencloud:
        annotations:
          # reloader.stakater.com/auto: "true"
          secret.reloader.stakater.com/reload: *app
          configmap.reloader.stakater.com/reload: &configmap opencloud-config
        pod:
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
            supplementalGroups:
              - 65542 # gladius:external-services

        containers:
          app:
            image:
              repository: opencloudeu/opencloud-rolling
              tag: 5.0.1
            command: ["/bin/sh", "-c", "opencloud init || true; opencloud server"]
            env:
              OC_INSECURE: true
              OC_URL: https://home-files.${SECRET_DOMAIN}
              PROXY_TLS: false
              IDM_CREATE_DEMO_USERS: false

              GATEWAY_GRPC_ADDR: 0.0.0.0:9142
              OC_ENABLE_OCM: false
              OC_EXCLUDE_RUN_SERVICES: "idp"

              # make the registry available to the app provider containers
              MICRO_REGISTRY_ADDRESS: 127.0.0.1:9233
              NATS_NATS_HOST: 0.0.0.0
              NATS_NATS_PORT: 9233


              PROXY_CSP_CONFIG_FILE_LOCATION: /etc/opencloud/csp.yaml

            envFrom:
              - secretRef:
                  name: *app
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 50m
                memory: 128Mi
              limits:
                memory: 1Gi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL

    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 9200
          nats:
            port: 9233
    #ingress:
    #  app:
    #    enabled: true
    #    className: ${INGRESSCLASS}
    #    annotations:
    #      gethomepage.dev/enabled: 'true'
    #      gethomepage.dev/group: Home
    #      gethomepage.dev/name: OpenCloud
    #      gethomepage.dev/description: "File sharing and collaboration solution."
    #      gethomepage.dev/icon: open-cloud.png
    #      gethomepage.dev/pod-selector: >-
    #        app.kubernetes.io/name in (opencloud)
    #    hosts:
    #      - host: &host "home-files.${SECRET_DOMAIN}"
    #        paths:
    #          - path: /
    #            service:
    #              identifier: app
    #              port: *port
    #    tls:
    #      - hosts:
    #        - *host
    route:
      app:
        hostnames: ["home-files.${SECRET_DOMAIN}"]
        parentRefs:
          - name: base
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port
        #annotations:
        #  # external-dns.alpha.kubernetes.io/cloudflare-proxied: "false"
        #  gethomepage.dev/enabled: 'true'
        #  gethomepage.dev/group: Home
        #  gethomepage.dev/name: OpenCloud
        #  gethomepage.dev/description: "File sharing and collaboration solution."
        #  gethomepage.dev/icon: open-cloud.png

    persistence:
      data:
        existingClaim: *app
        globalMounts:
          - path: /var/lib/opencloud
            subPath: data
          - path: /etc/opencloud
            subPath: config
      config:
        enabled: true
        type: configMap
        name: *configmap
        globalMounts:
          - subPath: proxy.yaml
            path: /etc/opencloud/proxy.yaml
          - subPath: csp.yaml
            path: /etc/opencloud/csp.yaml
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /tmp
            subPath: tmp
